:root {
    --main-color: #84a45a;
    --accent-color: #52733b;
    --first-color: #715e4e;
    --second-color: #242526;
    --third-color: #e4ebf2;
}

body {
    background-color: var(--main-color);
}

.mainTitleH1 {
    text-align: center;
    font-size: 40px;
    color: var(--third-color);
}

.mainContainerPokemon {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 800px;
    padding: 20px;
    margin: auto;
    text-align: center;
    border: 2px solid var(--third-color);
    border-radius: 10px;
}

.mainBlockPokemon {
    background-color: var(--third-color);
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 5px 3px 3px rgba(0, 0, 0, 0.3);
}